.page-index {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.page-index button {
  padding: 4px 8px;
  font-size: 18px;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  outline: none;
  border: none;
}
.page-index > button:hover {
  background-color: white;
  color: #0aaeb7;
}
.current-page {
  background-color: grey;
}
.other-pages {
  background-color: #0aaeb7;
}
.page-index .icon {
  font-size: 35px;
  color: #0aaeb7;
  padding: 10px;
  cursor: pointer;
}
.page-index .visible {
  visibility: visible;
}
.page-index .visible {
  visibility: hidden;
}
