.header {
  border-bottom: solid 1px black;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  min-width: 700px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.header img {
  width: 100px;
  margin-left: 5px;
}

.header .form {
  display: flex;
}
.header .price-dev {
  background-color: white;
  position: absolute;
  height: 100px;
  width: 180px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 14px;
  box-shadow: 3px 3px 5px black;
  color: #0aaeb7;
}
.header .price-dev input {
  border: none;
  outline: none;
  background-color: #f5f6f7;
  height: 18px;
  margin-top: 5px;
}
.header .min-max {
  display: flex;
  justify-content: space-evenly;
}
.header .min-max input {
  width: 60px;
}
.header .sort {
  display: flex;
  flex-direction: column;
}
.header .sort div {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.header .sort div input {
  margin-right: 10px;
}
.header .logSign {
  cursor: pointer;
  border: solid 2px #0aaeb7;
  border-radius: 5px;
  color: #0aaeb7;
  background-color: white;
  padding: 4px 8px;
  margin: 0 10px;
  outline: none;
}
.header .logSign:hover {
  border: solid 2px #0aaeb7;
  color: white;
  background-color: #0aaeb7;
}
.header .sell {
  cursor: pointer;
  border-radius: 5px;
  border: solid 2px #0aaeb7;
  color: white;
  background-color: #0aaeb7;
  padding: 4px 8px;
  margin: 0 10px;
  outline: none;
}
.header .sell:hover {
  border: solid 2px #0aaeb7;
  color: #0aaeb7;
  background-color: white;
}
.header .search {
  background-color: #f5f6f7;
  border: none;
  height: 30px;
  outline: none;
  width: 200px;
}
.header .search-button {
  background-color: #f5f6f7;
  border: none;
  height: 32px;
  color: #0aaeb7;
  cursor: pointer;
  outline: none;
}
.header .search-button:first-child {
  border-radius: 5px 0 0 5px;
}
.header .search-button:last-child {
  border-radius: 0 5px 5px 0;
}
.header .deconnect {
  background-color: #c2185a;
  cursor: pointer;
  border-radius: 5px;
  border: solid 2px #c2185a;
  color: white;
  padding: 4px 8px;
  margin: 0 10px;
  outline: none;
}
.header .deconnect:hover {
  background-color: white;
  color: #c2185a;
}
